<mat-card>
  <mat-card-title i18n>Login</mat-card-title>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit.emit()">
      <p>
        <mat-form-field>
          <input
            i18n-placeholder
            type="text"
            matInput
            placeholder="Username"
            formControlName="username"
          />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input
            i18n-placeholder
            type="password"
            matInput
            placeholder="Password"
            formControlName="password"
          />
        </mat-form-field>
      </p>

      <div class="button">
        <button
          i18n
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!loginForm.valid"
          mat-button
          >Login</button
        >
      </div>
    </form>
  </mat-card-content>
</mat-card>
