<div class="content-header">
  <h1 i18n>Products</h1>
  <div *ngIf="isLoading" class="spinner-wrapper">
    <mat-spinner diameter="40"></mat-spinner>
  </div>
  <div class="header-actions">
    <lib-icon-button
      *ngIf="isCustomer"
      [type]="'shopping_cart'"
      [color]="'primary'"
      (onClick)="onClickCart.emit()"
    ></lib-icon-button>
    <lib-icon-button
      *ngIf="isAdmin"
      [type]="'add'"
      [color]="'primary'"
      (onClick)="onCreateProduct.emit()"
    ></lib-icon-button>
  </div>
</div>

<table mat-table [dataSource]="products" class="mat-elevation-z8">
  <!-- Category Column -->
  <ng-container matColumnDef="category">
    <th i18n mat-header-cell *matHeaderCellDef>Category</th>
    <td mat-cell *matCellDef="let product">{{ product.category }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th i18n mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let product">{{ product.name }}</td>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="price">
    <th i18n mat-header-cell *matHeaderCellDef>Price</th>
    <td mat-cell *matCellDef="let product">{{ product.price }}</td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let product">
      <lib-icon-button
        [type]="'keyboard_arrow_right'"
        [color]="'accent'"
        (onClick)="onProductClick.emit(product.id)"
      ></lib-icon-button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
