<div *ngIf="product">
  <div class="content-header">
    <h1 i18n>Product: {{ product.name }}</h1>
    <div class="header-actions">
      <lib-icon-button
        *ngIf="isCustomer"
        [type]="'add_shopping_cart'"
        [color]="'primary'"
        (onClick)="onAddToCart.emit()"
      ></lib-icon-button>
      <lib-icon-button
        *ngIf="isAdmin"
        [type]="'open_in_new'"
        [color]="'primary'"
        (onClick)="onEdit.emit()"
      ></lib-icon-button>
      <lib-icon-button
        *ngIf="isAdmin"
        [type]="'delete'"
        [color]="'warn'"
        (onClick)="onDelete.emit()"
      ></lib-icon-button>
    </div>
  </div>
  <div class="product-content">
    <table>
      <tr>
        <td i18n>Name</td>
        <td>{{ product.name }}</td>
      </tr>
      <tr>
        <td i18n>Category</td>
        <td>{{ product.category }}</td>
      </tr>
      <tr>
        <td i18n>Price</td>
        <td i18n>{{ product.price }} EUR</td>
      </tr>
      <tr>
        <td i18n>Description</td>
        <td>{{ product.description }}</td>
      </tr>
    </table>
    <img
      class="product-image"
      src="{{ product.image }}"
      alt="{{ product.name }}"
    />
  </div>
</div>
