<mat-toolbar color="primary">
  <span>Online Shop</span>
  <div class="user-actions">
    <div *ngIf="username" class="login-actions">
      <span i18n>Hi, {{ username }}!</span>
      <button i18n mat-button (click)="onLogout.emit()">Logout</button>
    </div>
    <div *ngIf="!username" class="login-actions">
      <button i18n mat-button (click)="onLogin.emit()">Login</button>
    </div>
    <button i18n mat-button (click)="onHome.emit()">Home</button>
    <button i18n *ngIf="isAdmin" mat-button (click)="onAddProduct.emit()"
      >Add product</button
    >
  </div>
</mat-toolbar>
