<mat-card>
  <mat-card-title i18n *ngIf="isAddMode">Create product</mat-card-title>
  <mat-card-title i18n *ngIf="!isAddMode">Edit product</mat-card-title>
  <mat-card-content>
    <form [formGroup]="productForm">
      <mat-form-field>
        <mat-label i18n>Name</mat-label>
        <input
          i18n-placeholder
          matInput
          placeholder="Product name"
          formControlName="name"
        />
        <mat-error i18n *ngIf="hasError('name', 'required')"
          >Name is required</mat-error
        >
        <mat-error i18n *ngIf="hasError('name', 'minlength')"
          >Name is too short</mat-error
        >
      </mat-form-field>

      <mat-form-field>
        <mat-label i18n>Category</mat-label>
        <input
          i18n-placeholder
          matInput
          placeholder="Product category"
          formControlName="category"
        />
        <mat-error i18n *ngIf="hasError('category', 'required')"
          >Category is required</mat-error
        >
        <mat-error i18n *ngIf="hasError('category', 'minlength')"
          >Category is too short</mat-error
        >
      </mat-form-field>

      <mat-form-field>
        <mat-label i18n>Image URL</mat-label>
        <input
          i18n-placeholder
          matInput
          placeholder="Product image"
          formControlName="image"
        />
        <mat-error i18n *ngIf="hasError('image', 'required')"
          >Image URL is required</mat-error
        >
        <mat-error i18n *ngIf="hasError('image', 'minlength')"
          >Image URL is too short</mat-error
        >
      </mat-form-field>

      <mat-form-field>
        <mat-label i18n>Price</mat-label>
        <input
          i18n-placeholder
          type="number"
          matInput
          placeholder="Product price"
          formControlName="price"
        />
        <mat-error i18n *ngIf="hasError('price', 'required')"
          >Price is required</mat-error
        >
        <mat-error i18n *ngIf="hasError('price', 'min')"
          >Price is too low</mat-error
        >
      </mat-form-field>

      <mat-form-field>
        <mat-label i18n>Description</mat-label>
        <input
          i18n-placeholder
          matInput
          placeholder="Product description"
          formControlName="description"
        />
        <mat-error i18n *ngIf="hasError('description', 'required')"
          >Description is required</mat-error
        >
        <mat-error i18n *ngIf="hasError('description', 'minlength')"
          >Description is too short</mat-error
        >
      </mat-form-field>

      <div class="button">
        <button i18n mat-raised-button color="gray" (click)="onCancel.emit()"
          >Cancel</button
        >
        <button
          i18n
          type="submit"
          mat-raised-button
          color="primary"
          (click)="onSubmit.emit()"
          [disabled]="!productForm.valid"
          >Submit</button
        >
      </div>
    </form>
  </mat-card-content>
</mat-card>
