<div class="content-header">
  <h1 i18n>Shopping Cart</h1>
  <div class="header-actions">
    <button i18n mat-flat-button color="primary" (click)="onCheckout.emit()"
      >CHECKOUT</button
    >
  </div>
</div>
<table mat-table [dataSource]="cartProducts" class="mat-elevation-z8">
  <!-- Category Column -->
  <ng-container matColumnDef="category">
    <th i18n mat-header-cell *matHeaderCellDef>Category</th>
    <td mat-cell *matCellDef="let cartProduct">
      {{ cartProduct.product.category }}
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th i18n mat-header-cell *matHeaderCellDef>Product name</th>
    <td mat-cell *matCellDef="let cartProduct">
      {{ cartProduct.product.name }}
    </td>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="price">
    <th i18n mat-header-cell *matHeaderCellDef>Price</th>
    <td mat-cell *matCellDef="let cartProduct">
      {{ cartProduct.product.price }}
    </td>
  </ng-container>

  <!-- Quantity Column -->
  <ng-container matColumnDef="quantity">
    <th i18n mat-header-cell *matHeaderCellDef>Quantity</th>
    <td mat-cell *matCellDef="let cartProduct">
      <app-icon-button
        [type]="'arrow_upward'"
        [color]="'primary'"
        (onClick)="onQuantityIncrease.emit(cartProduct.product.id)"
      ></app-icon-button>
      {{ cartProduct.quantity }}
      <app-icon-button
        [type]="'arrow_downward'"
        [color]="'primary'"
        (onClick)="onQuantityDecrease.emit(cartProduct.product.id)"
      ></app-icon-button>
    </td>
  </ng-container>

  <!-- Delete Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let cartProduct">
      <app-icon-button
        [type]="'close'"
        [color]="'warn'"
        (onClick)="onDeleteFromCart.emit(cartProduct.product.id)"
      ></app-icon-button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
